#Un {
    display: none;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
   
    border: 1px solid #555;
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
#UnModeBtn {
    font-weight: bold;
    margin: 5%;
    background: linear-gradient(145deg, #0d3b66, #065a82);
    color: #ffffff;
    font-size: 0.7em;
    padding: 0.5em 1em;
    border-radius: 50px;
    border: 2px solid #0074e4;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 2;
}

#UnModeBtn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: radial-gradient(circle, rgba(0,255,255,0.7), rgba(0,255,255,0) 70%);
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease;
    z-index: -1;
}

#UnModeBtn:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

#UnModeBtn:hover {
    background: linear-gradient(145deg, #0074e4, #065a82);
    color: #000000;
    box-shadow: 0 0 15px #00ffff, 0 0 30px #00ffff, 0 0 45px #00ffff;
    border-color: #00ffff;
}


#Un input[type="number"] {
    width: 10%;
    padding: 10px;

    margin: 10px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #444;
    color: #e0e0e0;border: 1px solid #ccc;
}


.mo{
    display: block;
    font-weight: bold;
    margin: 10px;
}

 .result {
    margin-top: 20px;
    padding: 15px;
    background-color: #222;
    border-radius: 8px;
    text-align: center;
}

 table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

 th, td {
    padding: 10px;
    border: 1px solid #555;
    text-align: center;
}

 th {
    background-color: #009eff;
    color: #fff;
}

 td {
    background-color: #444;
    color: #e0e0e0;
}