.Zngroup {
  display: flex;
  justify-content: space-between;
}
.container {
  background-color: #333;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

h2 {
  color: #009eff;
  margin-bottom: 20px;
  font-size: 1.8em;
  border-bottom: 2px solid #444;
  padding-bottom: 10px;
}
#main-content {
  width: 70%;
  max-width: 800px;
  padding: 20px;
  background-color: #28293d;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.input-group input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #555;
  background-color: #444;
  color: #e0e0e0;
  width: calc(100% - 150px);
  margin-right: 10px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-group input:focus {
  border-color: #007bff;
}
.Zngroup button {
  margin-left: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

button:active {
  background-color: #00408d;
  transform: translateY(0);
}

.Zngroup .results {
  margin-top: 20px;
}

.Zngroup .results p {
  color: white;
  display: block;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  background-color: #444;
  min-height: 25px;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#modulus {
  background-color: #444444;
  width: 10%;
  border-radius: 5px;
  color: white;
  border: 1px solid #ccc;
}

#allElements {
  margin-top: 20px;
}

.can,
.can2 {
  margin: 0;
  padding: 0;
}

.Zngroup .order,
.Zngroup .subgroups {
  margin: 0;
  padding: 5px;
}

#allElements button {
  background-color: #dc3545;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

#allElements button:hover {
  background-color: #c82333;
}

.zn p {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  max-height: 150px;
  overflow: auto;
}
